# sqlite3
DB_DRIVER=sqlite3
DB_PATH=/tmp/oops.sqlite3

# Dynamo
DB_DRIVER=dynamo
DYNAMO_TABLE_NAME=oops

# Site stuff
# No trailing slash here - You should include the port if it's not 80 or 443
SITE_URL=https://example.com
# Set this variable even if you're serving over 80 or 443
WEB_SERVER_PORT=443
SERVE_TLS=true
# TLS_CERTIFICATE is the path to your public certificate
# From Go's documentation: If the certificate is signed by a certificate authority, 
# the certFile should be the concatenation of the server's certificate, any intermediates, and the CA's certificate.
TLS_CERTIFICATE=/var/local/oops/tls/pubkey.pem
# TLS_CERTIFICATE is the path to your private key
TLS_KEY=/var/local/oops/tls/privkey.pem

# Time, in seconds, that a link will be valid for
LINK_EXPIRATION_TIME=5