{% raw %}
//base.html.tmpl
{{define "base"}}
<html>
<head>
    <title>OOPS</title>
    <style>
        body {
        background-color: black;
        text-align: center;
        color: white;
        }
    </style>
</head>
<body>
{{end}}