<html>
<head>
    <title>OOPS</title>
    <style>
        body {
        background-color: black;
        text-align: center;
        color: white;
        }
    </style>
</head>
<h1>Secret Created</h1>
<body>
<br>
<p>{{ .URL }}</p>
</body>
