<!DOCTYPE html>
<html>
<head>
    <title>OOPS</title>
    <link rel="stylesheet" type="text/css"  href="/css/theme.css" >
</head>
<body>
<div class='formContainer'>
<form id="form" method="post">
Secret: <input type="text" name="secret" value="" autocomplete="off" spellcheck="false" id="secretinput" ><br>
<br>
<button value="Create"  id="btn">Create<button/>
</form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
$("#btn").click(function(){
var arr = { secret: $("#secretinput").val() };
$.ajax({
    url: {{ .CreateEndpoint }},
    type: 'POST',
    data: JSON.stringify(arr),
    contentType: 'application/json; charset=utf-8',
    dataType: 'json',
    async: false,
    error: function(req, err){ console.log('ERROR' + err); },
    success: function(msg) {
        alert(msg.url);
    }
});
});

</script>

</body>