<!DOCTYPE html>
<html>
<head>
    <title>OOPS</title>
    <link rel="stylesheet" type="text/css"  href="/css/theme.css" >
</head>
<body>
        <div class="container">
            <form class="form" id="form" method="post">
                <div class="secret"> 
                    <h2> Secret:</h2> 
                    <textarea class="textArea" name="message" rows="5" cols="20" ype="text" name="secret" value="" autocomplete="off" spellcheck="false" id="secretinput"></textarea>
                  
                </div>  
                  <input type="button" class="createButton" id="btn" value="Create" />
            </form>
            <div>
                <p id="passwordLink" class="passwordLink" value="HI"></p>
            <div>
        <div /> 

    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
$("#btn").click(function(){
var arr = { secret: $("#secretinput").val() };
$.ajax({
    url: {{ .CreateEndpoint }},
    type: 'POST',
    data: JSON.stringify(arr),
    contentType: 'application/json; charset=utf-8',
    dataType: 'json',
    async: false,
    error: function(req, err){ console.log('ERROR' + err); },
    success: function(msg) {
      document.getElementById('passwordLink').innerHTML =  (msg.url) 
    }
});
});

</script>

</body>